[submodule "Notebook/video-clone-pipeline"]
	path = Notebook/video-clone-pipeline
	url = https://github.com/Jesse-DataDriven/IA-Lab-Jesse
[submodule "IA-Lab-GenerativeVideo"]
	path = IA-Lab-GenerativeVideo
	url = https://github.com/Jesse-DataDriven/IA-Lab-GenerativeVideo
